;; See https://github.com/bhauman/figwheel-main/issues/159#issuecomment-519500136
^{:launch-js ["/opt/google/chrome/chrome" "--headless" "--disable-gpu" "--repl" "--disable-dev-shm" :open-url]}
{:main kintone.test-runner}
